<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Happy Plants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <h1>Add a new cutting</h1>
    <div class="form-center">
        <form th:object=${cutting} th:action="@{/saveCutting}" action="#" method="post">
            <p><label>Name:</label><input type="text" th:field="${cutting.cuttingName}" /></p>
            <span th:if="${#fields.hasErrors('cuttingName')}" th:errors="*{cuttingName}"></span>

            <p><label>Description:</label><input type="text" th:field="${cutting.cuttingDescription}" /></p>
            <p><label>Date cut:</label><input type="text" th:field="${cutting.dateCut}" /></p>
            <span th:if="${#fields.hasErrors('dateCut')}" th:errors="*{dateCut}"></span>

            <p><label>Price:</label><input type="text" th:field="${cutting.price}" /></p>
            <p><label>Additional note:</label><input type="text" th:field="${cutting.note}" /></p>


            <label>Plant:</label>
            <select th:field="*{plant}" class="form-control">
                <option th:each="plant: ${plants}" th:value="${plant.plantId}" th:text="${plant.plantName}">
                </option>
            </select>

            <p>
                <input type="submit" value="Submit" class="btn btn-success" />
                <input type="reset" value="Reset" class="btn btn-warning" />
            </p>
            <div style="clear: both; display: block; height: 10px;"></div>
            <p><a href="/cuttinglist" class="btn btn-primary">Back to cuttinglisting</a></p>
        </form>
    </div>
</body>

</html>