<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Happy Plants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <h1>Add a new species</h1>

    <div class="form-center">
        <form th:object=${species} th:action="@{/saveSpecies}" action="#" method="post">
            <p><label>Species Latin name:</label><input type="text" th:field="${species.speciesLatinName}" /></p>
            <span th:if="${#fields.hasErrors('speciesLatinName')}" th:errors="*{speciesLatinName}"></span>

            <p><label>Description:</label><input type="text" th:field="${species.speciesDescription}" />
            </p>

            <p>
                <input type="submit" value="Submit" class="btn btn-success" />
                <input type="reset" value="Reset" class="btn btn-warning" />
            </p>
            <div style="clear: both; display: block; height: 10px;"></div>
            <p><a href="/specieslist" class="btn btn-primary">Back to specieslisting</a></p>
        </form>
    </div>
    </div>


</body>

</html>