<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Happy Plants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <h1>Edit cutting</h1>

    <div class="form-center">
        <form th:object=${cutting} th:action="@{/updateCutting}" action="#" method="post">
            <input type="hidden" th:field="${cutting.cuttingId}" />
            <p><label>Name:</label><input type="text" th:field="${cutting.cuttingName}" /></p>
            <span th:if="${#fields.hasErrors('cuttingName')}" th:errors="*{cuttingName}"></span>

            <p><label>Description:</label><input type="text" th:field="${cutting.cuttingDescription}" /></p>
            <p><label>Date cut:</label><input type="text" th:field="${cutting.dateCut}" /></p>
            <span th:if="${#fields.hasErrors('dateCut')}" th:errors="*{dateCut}"></span>

            <p><label>Price:</label><input type="text" th:field="${cutting.price}" /></p>
            <p><label>Note:</label><input type="text" th:field="${cutting.note}" /></p>

            <label>Plant:</label>
            <select th:field="*{plant.plantId}" class="form-control">
                <option th:unless="${plant?.plantName != null}" value="" selected disabled>- Select Plant -</option>
                <option th:each="p : ${plants}" th:value="${p.plantId}" th:text="${p.plantName}"
                    th:selected="${p.plantId eq plant?.plant?.plantId}"></option>
            </select>

            <input type="submit" value="Submit" class="btn btn-success" />
            <p><a href="/cuttinglist" class="btn btn-primary">Back to cuttinglisting</a></p>
        </form>

    </div>
</body>

</html>