<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Happy Plants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <h1>Happy Plants</h1>

    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <h3>Welcome <span sec:authentication="name"></span>!</h3>
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()')}" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
        </form>
    </div>

    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <p>To see more, log in!</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>

    <h2>List of all the cuttings available from <span th:text="${plant.plantName}"></span></h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cutting's name</th>
                <th>Cutting's description</th>
                <th>Date cut</th>
                <th>Price</th>
                <th>Note</th>
                <th>Plant name</th>

                <th>Buy</th>

                <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="cutting : ${plantcuttinglist}">

                <td th:text="${cutting.cuttingName}"></td>
                <td th:text="${cutting.cuttingDescription}"></td>

                <td th:text="${cutting.dateCut}"></td>
                <td th:text="${cutting.price}"></td>
                <td th:text="${cutting.note}"></td>
                <td th:text="${cutting.plant.plantName}"></td>

                <td sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
                    <a href="#" class="btn btn-success">Buy cutting</a>
                </td>

                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editcutting/{id}(id=${cutting.cuttingId})}"
                        class="btn btn-info">Edit</a></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/delete/{id}(id=${cutting.cuttingId})}" class="btn btn-danger">Delete</a>
                </td>

            </tr>

        </tbody>
    </table>

    <a sec:authorize="hasAuthority('ADMIN')" href="/addcutting" class="btn btn-primary">Add a new cutting</a>
    <a href="/plantlist" class="btn btn-primary">Back to plantlisting</a>

</body>

</html>