<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Happy Plants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

    <h1>Happy Plants</h1>

    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <h3>Welcome <span sec:authentication="name"></span>!</h3>
    </div>
    <div th:if="${#authorization.expression('isAuthenticated()')}" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
        </form>
    </div>

    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <p>To see more, log in!</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>

    <h2>List of all the species and their descriptions</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Plant's latin name</th>
                <th>Description</th>
                <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="species : ${allSpecies}">

                <td th:text="${species.speciesLatinName}"></td>
                <td th:text="${species.speciesDescription}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/editspecies/{id}(id=${species.speciesId})}" class="btn btn-info">Edit</a>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/deletespecies/{id}(id=${species.speciesId})}" class="btn btn-danger">Delete</a>
                </td>

            </tr>

        </tbody>
    </table>

    <a sec:authorize="hasAuthority('ADMIN')" href="/addspecies" class="btn btn-primary">Add a new species</a>
    <a href="/plantlist" class="btn btn-primary">Back to plantlisting</a>

</body>

</html>